/* ripped from steamcommunity */
body {
	background-color: #1b2838;
	color: #636363;
}
#container {
	width: 100%;
	height: 100%;
	text-align: center;
	color: #FFFFFF;
}
.title {
	font-weight: normal;
	font-size: 26px;
	color: #FFFFFF;
	font-family: Motiva Sans, Arial, Helvetica, sans-serif;
}
.subtitle {
	font-weight: normal;
	font-size: 17px;
	color: #9099a1;
	font-family: Arial, Sans-Serif;
	padding-top: 5px;
}
.box {
	float: left;
	margin: 20px 20px 10px 20px;
	text-align: left;
	
	background-color: #0d131b;
	color: #898989;
	padding: 5px;
	font-size: 13px;
	font-family: Motiva Sans, Arial, Helvetica, sans-serif;
}
.avatar {
	margin-bottom: -12px;
	margin-left: 5px;
	width: 32px;
	height: 32px;
	background-color: #90ba3c;
	border: 1px solid #90ba3c;
}
canvas {
	width: 256px;
	height: 256px;
	/* background-color: #1b2838; */
}